body {
  background-color: whitesmoke;
}

.wrapper {
  text-align: center;
}

.pg404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: hidden;
  position: relative;
}

h1 {
  font-size: 1000%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

.assets {
  padding: 1%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.assets li:nth-child(1) svg {
  margin-top: 13px;
  -webkit-transform: rotate(296deg) scale(1.5);
          transform: rotate(296deg) scale(1.5);
}

.assets li:nth-child(2) svg {
  margin-top: 29px;
  -webkit-transform: rotate(68deg) scale(1.5);
          transform: rotate(68deg) scale(1.5);
}

.assets li:nth-child(3) svg {
  margin-top: 56px;
  -webkit-transform: rotate(144deg) scale(1.5);
          transform: rotate(144deg) scale(1.5);
}

.assets li:nth-child(4) svg {
  margin-top: 36px;
  -webkit-transform: rotate(117deg) scale(1.5);
          transform: rotate(117deg) scale(1.5);
}

.assets li:nth-child(5) svg {
  margin-top: 30px;
  -webkit-transform: rotate(149deg) scale(0.5);
          transform: rotate(149deg) scale(0.5);
}

.assets li:nth-child(6) svg {
  margin-top: 117px;
  -webkit-transform: rotate(127deg) scale(0.5);
          transform: rotate(127deg) scale(0.5);
}

.assets li:nth-child(7) svg {
  margin-top: 117px;
  -webkit-transform: rotate(4deg) scale(1.5);
          transform: rotate(4deg) scale(1.5);
}

.assets li:nth-child(8) svg {
  margin-top: 177px;
  -webkit-transform: rotate(271deg) scale(1.5);
          transform: rotate(271deg) scale(1.5);
}

.assets li:nth-child(9) svg {
  margin-top: 196px;
  -webkit-transform: rotate(218deg) scale(1.5);
          transform: rotate(218deg) scale(1.5);
}

.assets li:nth-child(10) svg {
  margin-top: 110px;
  -webkit-transform: rotate(143deg) scale(0.5);
          transform: rotate(143deg) scale(0.5);
}

.assets li:nth-child(11) svg {
  margin-top: 178px;
  -webkit-transform: rotate(215deg) scale(0.5);
          transform: rotate(215deg) scale(0.5);
}

.assets li:nth-child(12) svg {
  margin-top: 60px;
  -webkit-transform: rotate(138deg) scale(1.5);
          transform: rotate(138deg) scale(1.5);
}

.assets li:nth-child(13) svg {
  margin-top: 24px;
  -webkit-transform: rotate(250deg) scale(1.5);
          transform: rotate(250deg) scale(1.5);
}

.assets li:nth-child(14) svg {
  margin-top: 64px;
  -webkit-transform: rotate(284deg) scale(1.5);
          transform: rotate(284deg) scale(1.5);
}

.assets li:nth-child(15) svg {
  margin-top: 93px;
  -webkit-transform: rotate(45deg) scale(1.5);
          transform: rotate(45deg) scale(1.5);
}

.assets li:nth-child(16) svg {
  margin-top: 181px;
  -webkit-transform: rotate(116deg) scale(1.5);
          transform: rotate(116deg) scale(1.5);
}

.assets li:nth-child(17) svg {
  margin-top: 93px;
  -webkit-transform: rotate(93deg) scale(1.5);
          transform: rotate(93deg) scale(1.5);
}

.assets li:nth-child(18) svg {
  margin-top: 24px;
  -webkit-transform: rotate(247deg) scale(1.5);
          transform: rotate(247deg) scale(1.5);
}

.assets li:nth-child(19) svg {
  margin-top: 172px;
  -webkit-transform: rotate(208deg) scale(0.5);
          transform: rotate(208deg) scale(0.5);
}

.assets li:nth-child(20) svg {
  margin-top: 110px;
  -webkit-transform: rotate(263deg) scale(1.5);
          transform: rotate(263deg) scale(1.5);
}

.slide-in-top {
  display: -ms-grid;
  display: grid;
  -webkit-animation: slide-in-top 3s infinite;
          animation: slide-in-top 3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  position: absolute;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}
/*# sourceMappingURL=404.css.map */