body {
    background-color: whitesmoke;

}

.wrapper {
    text-align: center;
}

.pg404 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow-y: hidden;
    position: relative;
}

h1 {
    font-size: 1000%;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
}

.assets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;

    li {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                svg {
                    margin-top: random(200)+px;
                    transform: rotate(random(300)+deg) scale(random(2)-.5);
                }
            }
        }
    }
}

.slide-in-top {
    animation-timing-function: linear;
    animation: slide-in-top 4s infinite;
    display: grid;
    position: absolute;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100vh);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(75vh);
    }
}

@media screen and (min-width:481px) and (max-width:850px) {

    h1 {
        font-size: 800%;
    }

    img {
        min-width: 150%;
    }

    .assets {
        transform: scale(.75);
    }

}

@media screen and (max-width:480px) {

    .assets {
        display: none;
    }

    h1 {
        font-size: 600%;
        margin-bottom: 50%;
    }
}
