body {
    background-color: whitesmoke;

}

.wrapper {
    text-align: center;
}

.pg404 {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow-y: hidden;
    position: relative;
}

h1 {
    font-size: 1000%;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;

}

.assets {
    padding: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    li {

        // about random: http://jonibologna.com/sass-function-demos/#random
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                svg {
                    margin-top: random(200)+px;
                    transform: rotate(random(300)+deg) scale(random(2)-.5);

                }
            }
        }
    }
}

.slide-in-top {
    display: grid;
    animation: slide-in-top 3s infinite;
    animation-timing-function: linear;
    position: absolute;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100vh);

    }

    50% {
        transform: translateY(0);

    }

    100% {
        transform: translateY(100vh);

    }


}
