body {
  background-color: whitesmoke;
}

h1 {
  font-size: 1000%;
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
}

.wrapper {
  text-align: center;
}

.pg404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-y: hidden;
  position: relative;
}

.assets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1%;
}

.assets li:nth-child(1) svg {
  margin-top: 115px;
  -webkit-transform: rotate(114deg) scale(1.5);
          transform: rotate(114deg) scale(1.5);
}

.assets li:nth-child(2) svg {
  margin-top: 68px;
  -webkit-transform: rotate(55deg) scale(1.5);
          transform: rotate(55deg) scale(1.5);
}

.assets li:nth-child(3) svg {
  margin-top: 98px;
  -webkit-transform: rotate(74deg) scale(1.5);
          transform: rotate(74deg) scale(1.5);
}

.assets li:nth-child(4) svg {
  margin-top: 133px;
  -webkit-transform: rotate(12deg) scale(1.5);
          transform: rotate(12deg) scale(1.5);
}

.assets li:nth-child(5) svg {
  margin-top: 68px;
  -webkit-transform: rotate(128deg) scale(0.5);
          transform: rotate(128deg) scale(0.5);
}

.assets li:nth-child(6) svg {
  margin-top: 56px;
  -webkit-transform: rotate(162deg) scale(0.5);
          transform: rotate(162deg) scale(0.5);
}

.assets li:nth-child(7) svg {
  margin-top: 101px;
  -webkit-transform: rotate(180deg) scale(0.5);
          transform: rotate(180deg) scale(0.5);
}

.assets li:nth-child(8) svg {
  margin-top: 192px;
  -webkit-transform: rotate(125deg) scale(1.5);
          transform: rotate(125deg) scale(1.5);
}

.assets li:nth-child(9) svg {
  margin-top: 98px;
  -webkit-transform: rotate(163deg) scale(0.5);
          transform: rotate(163deg) scale(0.5);
}

.assets li:nth-child(10) svg {
  margin-top: 70px;
  -webkit-transform: rotate(78deg) scale(0.5);
          transform: rotate(78deg) scale(0.5);
}

.assets li:nth-child(11) svg {
  margin-top: 160px;
  -webkit-transform: rotate(14deg) scale(1.5);
          transform: rotate(14deg) scale(1.5);
}

.assets li:nth-child(12) svg {
  margin-top: 109px;
  -webkit-transform: rotate(11deg) scale(1.5);
          transform: rotate(11deg) scale(1.5);
}

.assets li:nth-child(13) svg {
  margin-top: 55px;
  -webkit-transform: rotate(118deg) scale(0.5);
          transform: rotate(118deg) scale(0.5);
}

.assets li:nth-child(14) svg {
  margin-top: 102px;
  -webkit-transform: rotate(203deg) scale(0.5);
          transform: rotate(203deg) scale(0.5);
}

.assets li:nth-child(15) svg {
  margin-top: 96px;
  -webkit-transform: rotate(82deg) scale(0.5);
          transform: rotate(82deg) scale(0.5);
}

.assets li:nth-child(16) svg {
  margin-top: 65px;
  -webkit-transform: rotate(196deg) scale(1.5);
          transform: rotate(196deg) scale(1.5);
}

.assets li:nth-child(17) svg {
  margin-top: 145px;
  -webkit-transform: rotate(14deg) scale(1.5);
          transform: rotate(14deg) scale(1.5);
}

.assets li:nth-child(18) svg {
  margin-top: 107px;
  -webkit-transform: rotate(200deg) scale(1.5);
          transform: rotate(200deg) scale(1.5);
}

.assets li:nth-child(19) svg {
  margin-top: 137px;
  -webkit-transform: rotate(290deg) scale(1.5);
          transform: rotate(290deg) scale(1.5);
}

.assets li:nth-child(20) svg {
  margin-top: 5px;
  -webkit-transform: rotate(108deg) scale(0.5);
          transform: rotate(108deg) scale(0.5);
}

.slide-in-top {
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation: slide-in-top 4s infinite;
          animation: slide-in-top 4s infinite;
  display: -ms-grid;
  display: grid;
  position: absolute;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(75vh);
            transform: translateY(75vh);
  }
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  h1 {
    font-size: 800%;
  }
  img {
    min-width: 150%;
  }
  .assets {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 600%;
    margin-bottom: 50%;
  }
  .assets {
    display: none;
  }
}
/*# sourceMappingURL=404.css.map */