body {
    background-color: whitesmoke;

}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.writing {
    grid-column: 1/2;
}

.reviews {
    font-size: 50%;
    line-height: 2vw;
    margin-left: 15%;
}

.reviewers {
    font-weight: 400;
    margin-left: 15%;
    margin: 0;


}

.slideshow__about {
    grid-column: 2/4;
    grid-row: 1/4;
    text-align: center;
}

.slideshow__about--container {
    display: inline-block;
    grid-column: 2/4;
    grid-row: 1/4;
    margin-top: 5vw;
}

.mySlides {
    background-color: whitesmoke;
    height: 40vw;
    width: 40vw;
}

.button__slideshow {
    background-color: white;
    border-color: white;
    border-radius: 25px;
    box-shadow: 2px 3px grey;
    color: black;
    display: inline-block;
    font-size: 55%;
    margin: 2vw;
    padding: 8px 25px 8px 25px;
    text-decoration: none;
}

@media screen and (min-width:481px) and (max-width:850px) {



    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr;
    }

    .writing {
        grid-column: 1/2;
        grid-row: 2/4;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 0;
    }

    .reviews {
        line-height: 5vw;
        margin-bottom: 10vw;
        margin-left: 5vw;
    }

    .reviewers {
        line-height: 0;
        margin-bottom: 5vw;
        margin-top: 3vw;
    }

    .slideshow__about {
        grid-column: 1/2;
        grid-row: 1/2;
        margin: 5vw;
        display: inline-block;
    }

    .button__slideshow {
        margin-top: 5vw;
    }


}

@media screen and (max-width:480px) {
    .wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr;
    }

    .writing {
        grid-column: 1/2;
        grid-row: 2/4;
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 0;
    }

    .reviews {
        line-height: 5vw;
        margin-bottom: 12vw;
        margin-left: 5vw;
    }

    .reviewers {
        line-height: 0;
        margin-bottom: 5vw;
        margin-top: 3vw;
        font-size: 75%;

    }

    .slideshow__about {
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 10vw;
        display: inline-block;
    }

    .button__slideshow {
        margin-top: 5vw;
    }
}
