* {

    font-family: sans-serif;


}




body {
    background-color: whitesmoke;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr;
    background-color: whitesmoke;

}


.des {
    grid-column: 1/2;
    grid-row: 1/2;
    color: black;
    line-height: 100%;
    margin-top: 15%;



}


.text {
    grid-column: 1/2;
    grid-row: 2/3;



}

.open {
    background-color: white;
    box-shadow: 3px 5px grey;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 30%;
    padding: 10%;
}




/*img {

    max-width: 30%;
}*/


p {
    font-size: 50%;
    font-weight: 100;
    text-align: left;
    color: black;
    margin-left: 30%;
}

.des__1 {
    background-color: white;
    padding: 5%;
    box-shadow: 3px 5px grey;
}

h1 {
    color: black;
    font-weight: 500;
    text-transform: capitalize;
    list-style-type: none;
    text-align: left;
    margin-left: 10%;
    font-size: 85%;

}

h2 {
    font-size: 70%;
    font-weight: 200;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    margin-left: 30%;
}

h3 {
    font-size: 55%;
    font-weight: 200;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    margin-left: 30%;
}

.slideshow__homepage {
    grid-column: 2/4;
    grid-row: 2/4;
    text-align: right;
}

.slideshow__homepage--container {
    display: inline-block;

}

// .mySlides {
//     background-color: whitesmoke;
//     min-height: 10vw;
//     max-height: 10vw;
//     min-width: 10vw;
//     max-width: 10vw;


// }

.button__slideshow {
    color: black;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    border-color: white;

    padding: 8px 25px 8px 25px;
    box-shadow: 3px 5px grey;
    font-size: 75%;
    display: inline-block;
    margin: 20% 0;


}

/*.assets__milkshake {

    width: 100%;
    height: 100%;
    margin: -280px 40px 54px -34px;

    animation: falling 5s infinite linear;

    -webkit-animation: falling 5s infinite linear;
    -moz-animation: falling 5s infinite linear;
    color: transparent;

}



@keyframes falling {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);

    }

    100% {
        -webkit-transform: translateY(1000px);
        transform: translateY(1000px);

    }
}*/

@media screen and (max-width: 480px) {

    img {
        max-width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20%;
        margin-top: 10%;
        object-position: center;
    }

    p {
        font-size: 50%;
        font-weight: 100;
        text-align: left;
        color: black;
        text-transform: capitalize;
        margin-left: 10%;
    }

    h1 {
        color: green;
        font-weight: 500;
        text-transform: capitalize;
        list-style-type: none;
        text-align: left;
    }

    h2 {
        font-size: 75%;
        font-weight: 200;
        color: black;
        text-transform: capitalize;
        text-decoration: none;
        text-align: left;
        margin-left: 10%;
    }

    h3 {
        font-size: 60%;
        font-weight: 200;
        color: black;
        text-transform: capitalize;
        text-decoration: none;
        text-align: left;
        margin-left: 10%;
    }
}
