@import "shared/header", "shared/footer";

* {
    background-color: whitesmoke;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
    display: grid;
    grid-column: 2/3;
    text-align: center;
}

.dropbtn {
    background-color: black;
    border: none;
    color: white;
    font-size: 75%;
    margin: 5%;
}

.starters {
    color: white;
    padding: 3%;
    text-align: center;
}

.burgers {
    color: white;
    padding: 3%;
    text-align: center;
}

.fountain {
    color: white;
    padding: 3%;
    text-align: center;
}

.brunch {
    color: white;
    padding: 3%;
    text-align: center;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: grey;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    color: black;
    display: none;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    display: block;
    z-index: 1;
}

.dropdown a:hover {
    color: black;
    display: block;
    margin-top: 50%;
}

.show {
    color: black;
    display: block;
}

p {
    color: black;
    font-size: 55%;
    font-weight: 200;
    z-index: 1;
}

h4 {
    color: red;
    font-size: 75%;
    font-weight: 200;
}

h5 {
    font-size: 45%;
    font-weight: 200;
}

#starters,
#burgers,
#fountain,
#brunch {
    text-align: left;
}

.dropdown-content ul {
    margin: 0;
}

.on-menu {
    font-size: 45%;
    font-weight: 200;
}

.top-description {
    font-size: 45%;
    font-style: italic;
    font-weight: 200;
    margin-bottom: 5%;
    margin-left: 0;
    padding: 0;
}


@media screen and (min-width:481px) and (max-width:850px) {

    img {
        min-width: 150%;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar {
        display: grid;
        grid-column: 1/2;
        text-align: center;
    }
}

@media screen and (max-width:480px) {

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar {
        display: grid;
        grid-column: 1/2;
        text-align: center;
    }
}
