.header-wrapper {
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
}

.header-wrapper nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/ span 4;
}

.header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__header {
  background-color: white;
  border-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 5px grey;
          box-shadow: 3px 5px grey;
  color: black;
  display: block;
  font-size: 75%;
  margin: 20% 0;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
}

.logo {
  background-color: whitesmoke;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  max-width: 80%;
  padding-top: 15%;
}

.assets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1%;
}

.assets li:nth-child(1) svg {
  margin-top: 156px;
  -webkit-transform: rotate(184deg) scale(0.5);
          transform: rotate(184deg) scale(0.5);
}

.assets li:nth-child(2) svg {
  margin-top: 120px;
  -webkit-transform: rotate(239deg) scale(1.5);
          transform: rotate(239deg) scale(1.5);
}

.assets li:nth-child(3) svg {
  margin-top: 139px;
  -webkit-transform: rotate(9deg) scale(0.5);
          transform: rotate(9deg) scale(0.5);
}

.assets li:nth-child(4) svg {
  margin-top: 161px;
  -webkit-transform: rotate(20deg) scale(0.5);
          transform: rotate(20deg) scale(0.5);
}

.assets li:nth-child(5) svg {
  margin-top: 122px;
  -webkit-transform: rotate(154deg) scale(1.5);
          transform: rotate(154deg) scale(1.5);
}

.assets li:nth-child(6) svg {
  margin-top: 68px;
  -webkit-transform: rotate(210deg) scale(1.5);
          transform: rotate(210deg) scale(1.5);
}

.assets li:nth-child(7) svg {
  margin-top: 137px;
  -webkit-transform: rotate(12deg) scale(1.5);
          transform: rotate(12deg) scale(1.5);
}

.assets li:nth-child(8) svg {
  margin-top: 28px;
  -webkit-transform: rotate(112deg) scale(1.5);
          transform: rotate(112deg) scale(1.5);
}

.assets li:nth-child(9) svg {
  margin-top: 165px;
  -webkit-transform: rotate(243deg) scale(0.5);
          transform: rotate(243deg) scale(0.5);
}

.assets li:nth-child(10) svg {
  margin-top: 47px;
  -webkit-transform: rotate(286deg) scale(0.5);
          transform: rotate(286deg) scale(0.5);
}

.assets li:nth-child(11) svg {
  margin-top: 125px;
  -webkit-transform: rotate(60deg) scale(0.5);
          transform: rotate(60deg) scale(0.5);
}

.assets li:nth-child(12) svg {
  margin-top: 150px;
  -webkit-transform: rotate(245deg) scale(1.5);
          transform: rotate(245deg) scale(1.5);
}

.assets li:nth-child(13) svg {
  margin-top: 74px;
  -webkit-transform: rotate(295deg) scale(0.5);
          transform: rotate(295deg) scale(0.5);
}

.assets li:nth-child(14) svg {
  margin-top: 114px;
  -webkit-transform: rotate(281deg) scale(1.5);
          transform: rotate(281deg) scale(1.5);
}

.assets li:nth-child(15) svg {
  margin-top: 177px;
  -webkit-transform: rotate(227deg) scale(1.5);
          transform: rotate(227deg) scale(1.5);
}

.assets li:nth-child(16) svg {
  margin-top: 85px;
  -webkit-transform: rotate(37deg) scale(0.5);
          transform: rotate(37deg) scale(0.5);
}

.assets li:nth-child(17) svg {
  margin-top: 158px;
  -webkit-transform: rotate(111deg) scale(1.5);
          transform: rotate(111deg) scale(1.5);
}

.assets li:nth-child(18) svg {
  margin-top: 108px;
  -webkit-transform: rotate(130deg) scale(1.5);
          transform: rotate(130deg) scale(1.5);
}

.assets li:nth-child(19) svg {
  margin-top: 105px;
  -webkit-transform: rotate(193deg) scale(1.5);
          transform: rotate(193deg) scale(1.5);
}

.assets li:nth-child(20) svg {
  margin-top: 136px;
  -webkit-transform: rotate(252deg) scale(1.5);
          transform: rotate(252deg) scale(1.5);
}

.slide-in-top {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation: slide-in-top 3s infinite;
          animation: slide-in-top 3s infinite;
  display: -ms-grid;
  display: grid;
  position: absolute;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  .assets {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 1%;
  }
  .assets li:nth-child(1) svg {
    margin-top: 43px;
    -webkit-transform: rotate(72deg) scale(0.5);
            transform: rotate(72deg) scale(0.5);
  }
  .assets li:nth-child(2) svg {
    margin-top: 86px;
    -webkit-transform: rotate(98deg) scale(0.5);
            transform: rotate(98deg) scale(0.5);
  }
  .assets li:nth-child(3) svg {
    margin-top: 169px;
    -webkit-transform: rotate(158deg) scale(0.5);
            transform: rotate(158deg) scale(0.5);
  }
  .assets li:nth-child(4) svg {
    margin-top: 137px;
    -webkit-transform: rotate(279deg) scale(0.5);
            transform: rotate(279deg) scale(0.5);
  }
  .assets li:nth-child(5) svg {
    margin-top: 127px;
    -webkit-transform: rotate(59deg) scale(1.5);
            transform: rotate(59deg) scale(1.5);
  }
  .assets li:nth-child(6) svg {
    margin-top: 76px;
    -webkit-transform: rotate(46deg) scale(1.5);
            transform: rotate(46deg) scale(1.5);
  }
  .assets li:nth-child(7) svg {
    margin-top: 133px;
    -webkit-transform: rotate(274deg) scale(1.5);
            transform: rotate(274deg) scale(1.5);
  }
  .assets li:nth-child(8) svg {
    margin-top: 1px;
    -webkit-transform: rotate(186deg) scale(1.5);
            transform: rotate(186deg) scale(1.5);
  }
  .assets li:nth-child(9) svg {
    margin-top: 37px;
    -webkit-transform: rotate(199deg) scale(0.5);
            transform: rotate(199deg) scale(0.5);
  }
  .assets li:nth-child(10) svg {
    margin-top: 101px;
    -webkit-transform: rotate(261deg) scale(0.5);
            transform: rotate(261deg) scale(0.5);
  }
  .assets li:nth-child(11) svg {
    margin-top: 108px;
    -webkit-transform: rotate(145deg) scale(1.5);
            transform: rotate(145deg) scale(1.5);
  }
  .assets li:nth-child(12) svg {
    margin-top: 100px;
    -webkit-transform: rotate(284deg) scale(1.5);
            transform: rotate(284deg) scale(1.5);
  }
  .assets li:nth-child(13) svg {
    margin-top: 57px;
    -webkit-transform: rotate(71deg) scale(0.5);
            transform: rotate(71deg) scale(0.5);
  }
  .assets li:nth-child(14) svg {
    margin-top: 64px;
    -webkit-transform: rotate(294deg) scale(0.5);
            transform: rotate(294deg) scale(0.5);
  }
  .assets li:nth-child(15) svg {
    margin-top: 100px;
    -webkit-transform: rotate(273deg) scale(1.5);
            transform: rotate(273deg) scale(1.5);
  }
  .assets li:nth-child(16) svg {
    margin-top: 193px;
    -webkit-transform: rotate(114deg) scale(0.5);
            transform: rotate(114deg) scale(0.5);
  }
  .assets li:nth-child(17) svg {
    margin-top: 176px;
    -webkit-transform: rotate(127deg) scale(1.5);
            transform: rotate(127deg) scale(1.5);
  }
  .assets li:nth-child(18) svg {
    margin-top: 184px;
    -webkit-transform: rotate(2deg) scale(1.5);
            transform: rotate(2deg) scale(1.5);
  }
  .assets li:nth-child(19) svg {
    margin-top: 162px;
    -webkit-transform: rotate(233deg) scale(0.5);
            transform: rotate(233deg) scale(0.5);
  }
  .assets li:nth-child(20) svg {
    margin-top: 188px;
    -webkit-transform: rotate(150deg) scale(1.5);
            transform: rotate(150deg) scale(1.5);
  }
  .slide-in-top {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation: slide-in-top 4s infinite;
            animation: slide-in-top 4s infinite;
    display: -ms-grid;
    display: grid;
    position: absolute;
  }
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(75vh);
              transform: translateY(75vh);
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(75vh);
              transform: translateY(75vh);
    }
  }
  img {
    min-width: 150%;
  }
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
  .header-wrapper nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header-wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .button__header {
    background-color: white;
    border-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 3px 5px grey;
            box-shadow: 3px 5px grey;
    color: black;
    display: block;
    font-size: 65%;
    margin: 0;
    padding: 8px 25px 8px 25px;
    text-decoration: none;
  }
  .logo {
    background-color: whitesmoke;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
  }
  .assets {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media screen and (max-width: 480px) {
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .25fr 1fr;
        grid-template-rows: .25fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header-wrapper nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: auto;
  }
  .header-wrapper nav .u-list-reset {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .header-wrapper nav li {
    display: -ms-inline-grid;
    display: inline-grid;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin: 2vw;
    padding: 2vw;
  }
  .logo {
    background-color: whitesmoke;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 0;
    width: 100%;
  }
  .button__header {
    -webkit-box-shadow: 2px 4px grey;
            box-shadow: 2px 4px grey;
    display: block;
    font-size: 55%;
    margin: 0;
    padding: 8px 25px 8px 25px;
  }
}

* {
  font-family: sans-serif;
}

h3 {
  color: black;
  font-size: 60%;
  font-weight: 200;
  margin-left: 30%;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

.footer-wrapper {
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-left: 5%;
  margin-right: 5%;
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  h3 {
    color: black;
    font-size: 50%;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
  }
  .footer-wrapper {
    margin: 5%;
  }
}

@media screen and (max-width: 480px) {
  h3 {
    color: black;
    font-size: 40%;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
  }
  .footer-wrapper {
    display: block;
    margin-left: 10%;
  }
}

* {
  background-color: whitesmoke;
}

p {
  color: black;
  font-size: 55%;
  font-weight: 200;
  z-index: 1;
}

h4 {
  color: red;
  font-size: 75%;
  font-weight: 200;
}

h5 {
  font-size: 45%;
  font-weight: 200;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.dropbtn {
  background-color: black;
  border: none;
  color: white;
  font-size: 75%;
  margin: 5%;
}

.starters {
  color: white;
  padding: 3%;
  text-align: center;
}

.burgers {
  color: white;
  padding: 3%;
  text-align: center;
}

.fountain {
  color: white;
  padding: 3%;
  text-align: center;
}

.brunch {
  color: white;
  padding: 3%;
  text-align: center;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: grey;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  color: black;
  display: none;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  z-index: 1;
}

.dropdown a:hover {
  color: black;
  display: block;
  margin-top: 50%;
}

.show {
  color: black;
  display: block;
}

#starters,
#burgers,
#fountain,
#brunch {
  text-align: left;
}

.dropdown-content ul {
  margin: 0;
}

.on-menu {
  font-size: 45%;
  font-weight: 200;
}

.top-description {
  font-size: 45%;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 5%;
  margin-left: 0;
  padding: 0;
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  img {
    min-width: 150%;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: center;
  }
}
/*# sourceMappingURL=menu_page.css.map */