@import "shared/header", "shared/footer";

* {
    background-color: whitesmoke;
}

/*why are the nav buttons slightly higher on this page??*/

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5%;
    margin-bottom: 5%;


}

.navbar {
    grid-column: 2/3;
    text-align: center;
    display: grid;

}

.dropbtn {

    color: white;
    background-color: black;
    font-size: 75%;
    border: none;

    margin: 5%;
}

.starters {
    color: white;
    text-align: center;
    padding: 3%;
}

.burgers {
    color: white;
    text-align: center;
    padding: 3%;
}

.fountain {
    color: white;
    text-align: center;
    padding: 3%;
}

.brunch {
    color: white;
    text-align: center;
    padding: 3%;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: grey;
}

.dropdown {

    display: inline-block;

}

.dropdown-content {
    display: none;



    z-index: 1;
    color: black;



}

.dropdown-content a {
    color: black;
    display: block;
    z-index: 1;

}

.dropdown a:hover {
    display: block;
    color: black;
    margin-top: 50%;
}

.show {
    display: block;
    color: black;
}

p {
    color: black;
    z-index: 1;
    font-size: 55%;
    font-weight: 200;

}

h4 {
    color: red;
    font-size: 75%;
    font-weight: 200;

}

h5 {
    font-size: 45%;
    font-weight: 200;


}

#starters,
#burgers,
#fountain,
#brunch {
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;


}

.on-menu {
    font-size: 45%;
    font-weight: 200;
}

.top-description {
    font-size: 45%;
    font-weight: 200;
    font-style: italic;
    padding: 0;
    margin-bottom: 5%;
    margin-left: 0;


}
