.assets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1%;
}

.assets li:nth-child(1) svg {
  margin-top: 83px;
  -webkit-transform: rotate(128deg) scale(1.5);
          transform: rotate(128deg) scale(1.5);
}

.assets li:nth-child(2) svg {
  margin-top: 116px;
  -webkit-transform: rotate(287deg) scale(1.5);
          transform: rotate(287deg) scale(1.5);
}

.assets li:nth-child(3) svg {
  margin-top: 91px;
  -webkit-transform: rotate(58deg) scale(1.5);
          transform: rotate(58deg) scale(1.5);
}

.assets li:nth-child(4) svg {
  margin-top: 105px;
  -webkit-transform: rotate(208deg) scale(0.5);
          transform: rotate(208deg) scale(0.5);
}

.assets li:nth-child(5) svg {
  margin-top: 74px;
  -webkit-transform: rotate(222deg) scale(1.5);
          transform: rotate(222deg) scale(1.5);
}

.assets li:nth-child(6) svg {
  margin-top: 179px;
  -webkit-transform: rotate(173deg) scale(1.5);
          transform: rotate(173deg) scale(1.5);
}

.assets li:nth-child(7) svg {
  margin-top: 115px;
  -webkit-transform: rotate(105deg) scale(1.5);
          transform: rotate(105deg) scale(1.5);
}

.assets li:nth-child(8) svg {
  margin-top: 172px;
  -webkit-transform: rotate(24deg) scale(0.5);
          transform: rotate(24deg) scale(0.5);
}

.assets li:nth-child(9) svg {
  margin-top: 69px;
  -webkit-transform: rotate(161deg) scale(0.5);
          transform: rotate(161deg) scale(0.5);
}

.assets li:nth-child(10) svg {
  margin-top: 129px;
  -webkit-transform: rotate(107deg) scale(1.5);
          transform: rotate(107deg) scale(1.5);
}

.assets li:nth-child(11) svg {
  margin-top: 26px;
  -webkit-transform: rotate(236deg) scale(1.5);
          transform: rotate(236deg) scale(1.5);
}

.assets li:nth-child(12) svg {
  margin-top: 38px;
  -webkit-transform: rotate(271deg) scale(1.5);
          transform: rotate(271deg) scale(1.5);
}

.assets li:nth-child(13) svg {
  margin-top: 137px;
  -webkit-transform: rotate(190deg) scale(1.5);
          transform: rotate(190deg) scale(1.5);
}

.assets li:nth-child(14) svg {
  margin-top: 35px;
  -webkit-transform: rotate(84deg) scale(1.5);
          transform: rotate(84deg) scale(1.5);
}

.assets li:nth-child(15) svg {
  margin-top: 174px;
  -webkit-transform: rotate(52deg) scale(0.5);
          transform: rotate(52deg) scale(0.5);
}

.assets li:nth-child(16) svg {
  margin-top: 168px;
  -webkit-transform: rotate(44deg) scale(0.5);
          transform: rotate(44deg) scale(0.5);
}

.assets li:nth-child(17) svg {
  margin-top: 174px;
  -webkit-transform: rotate(280deg) scale(0.5);
          transform: rotate(280deg) scale(0.5);
}

.assets li:nth-child(18) svg {
  margin-top: 6px;
  -webkit-transform: rotate(270deg) scale(1.5);
          transform: rotate(270deg) scale(1.5);
}

.assets li:nth-child(19) svg {
  margin-top: 173px;
  -webkit-transform: rotate(113deg) scale(0.5);
          transform: rotate(113deg) scale(0.5);
}

.assets li:nth-child(20) svg {
  margin-top: 189px;
  -webkit-transform: rotate(229deg) scale(1.5);
          transform: rotate(229deg) scale(1.5);
}

.slide-in-top {
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation: slide-in-top 3s infinite;
          animation: slide-in-top 3s infinite;
  display: -ms-grid;
  display: grid;
  position: absolute;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100vh);
            transform: translateY(-100vh);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100vh);
            transform: translateY(100vh);
  }
}

.header-wrapper {
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  margin-left: 5%;
  margin-right: 5%;
}

.header-wrapper nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/ span 4;
}

.header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__header {
  background-color: white;
  border-color: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 5px grey;
          box-shadow: 3px 5px grey;
  color: black;
  display: block;
  font-size: 75%;
  margin: 20% 0;
  padding: 8px 25px 8px 25px;
  text-decoration: none;
}

.logo {
  background-color: whitesmoke;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  max-width: 80%;
  padding-top: 15%;
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  .assets {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 1%;
  }
  .assets li:nth-child(1) svg {
    margin-top: 103px;
    -webkit-transform: rotate(198deg) scale(1.5);
            transform: rotate(198deg) scale(1.5);
  }
  .assets li:nth-child(2) svg {
    margin-top: 173px;
    -webkit-transform: rotate(269deg) scale(0.5);
            transform: rotate(269deg) scale(0.5);
  }
  .assets li:nth-child(3) svg {
    margin-top: 6px;
    -webkit-transform: rotate(132deg) scale(1.5);
            transform: rotate(132deg) scale(1.5);
  }
  .assets li:nth-child(4) svg {
    margin-top: 147px;
    -webkit-transform: rotate(64deg) scale(1.5);
            transform: rotate(64deg) scale(1.5);
  }
  .assets li:nth-child(5) svg {
    margin-top: 26px;
    -webkit-transform: rotate(263deg) scale(0.5);
            transform: rotate(263deg) scale(0.5);
  }
  .assets li:nth-child(6) svg {
    margin-top: 156px;
    -webkit-transform: rotate(12deg) scale(0.5);
            transform: rotate(12deg) scale(0.5);
  }
  .assets li:nth-child(7) svg {
    margin-top: 55px;
    -webkit-transform: rotate(102deg) scale(0.5);
            transform: rotate(102deg) scale(0.5);
  }
  .assets li:nth-child(8) svg {
    margin-top: 77px;
    -webkit-transform: rotate(293deg) scale(1.5);
            transform: rotate(293deg) scale(1.5);
  }
  .assets li:nth-child(9) svg {
    margin-top: 103px;
    -webkit-transform: rotate(276deg) scale(0.5);
            transform: rotate(276deg) scale(0.5);
  }
  .assets li:nth-child(10) svg {
    margin-top: 39px;
    -webkit-transform: rotate(100deg) scale(0.5);
            transform: rotate(100deg) scale(0.5);
  }
  .assets li:nth-child(11) svg {
    margin-top: 193px;
    -webkit-transform: rotate(229deg) scale(1.5);
            transform: rotate(229deg) scale(1.5);
  }
  .assets li:nth-child(12) svg {
    margin-top: 5px;
    -webkit-transform: rotate(206deg) scale(1.5);
            transform: rotate(206deg) scale(1.5);
  }
  .assets li:nth-child(13) svg {
    margin-top: 149px;
    -webkit-transform: rotate(292deg) scale(0.5);
            transform: rotate(292deg) scale(0.5);
  }
  .assets li:nth-child(14) svg {
    margin-top: 107px;
    -webkit-transform: rotate(232deg) scale(1.5);
            transform: rotate(232deg) scale(1.5);
  }
  .assets li:nth-child(15) svg {
    margin-top: 123px;
    -webkit-transform: rotate(264deg) scale(1.5);
            transform: rotate(264deg) scale(1.5);
  }
  .assets li:nth-child(16) svg {
    margin-top: 169px;
    -webkit-transform: rotate(124deg) scale(1.5);
            transform: rotate(124deg) scale(1.5);
  }
  .assets li:nth-child(17) svg {
    margin-top: 8px;
    -webkit-transform: rotate(261deg) scale(1.5);
            transform: rotate(261deg) scale(1.5);
  }
  .assets li:nth-child(18) svg {
    margin-top: 49px;
    -webkit-transform: rotate(22deg) scale(0.5);
            transform: rotate(22deg) scale(0.5);
  }
  .assets li:nth-child(19) svg {
    margin-top: 176px;
    -webkit-transform: rotate(40deg) scale(0.5);
            transform: rotate(40deg) scale(0.5);
  }
  .assets li:nth-child(20) svg {
    margin-top: 5px;
    -webkit-transform: rotate(280deg) scale(0.5);
            transform: rotate(280deg) scale(0.5);
  }
  .slide-in-top {
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation: slide-in-top 4s infinite;
            animation: slide-in-top 4s infinite;
    display: -ms-grid;
    display: grid;
    position: absolute;
  }
  @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(75vh);
              transform: translateY(75vh);
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-100vh);
              transform: translateY(-100vh);
    }
    50% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(75vh);
              transform: translateY(75vh);
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 850px) and (min-width: 481px) and (max-width: 850px) {
  img {
    min-width: 150%;
  }
  .assets {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
  .header-wrapper nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header-wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    background-color: whitesmoke;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-left: 25%;
    margin-right: 25%;
    width: 100%;
  }
  .button__header {
    background-color: white;
    border-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 3px 5px grey;
            box-shadow: 3px 5px grey;
    color: black;
    display: block;
    font-size: 65%;
    margin: 0;
    padding: 8px 25px 8px 25px;
    text-decoration: none;
  }
}

@media screen and (max-width: 480px) {
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .25fr 1fr;
        grid-template-rows: .25fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }
  .header-wrapper nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: auto;
  }
  .header-wrapper nav .u-list-reset {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .header-wrapper nav li {
    display: -ms-inline-grid;
    display: inline-grid;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin: 2vw;
    padding: 2vw;
  }
  .logo {
    background-color: whitesmoke;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    padding: 0;
    width: 100%;
  }
  .button__header {
    background-color: white;
    border-color: white;
    border-radius: 25px;
    -webkit-box-shadow: 2px 4px grey;
            box-shadow: 2px 4px grey;
    color: black;
    display: block;
    font-size: 55%;
    margin: 0;
    padding: 8px 25px 8px 25px;
    text-decoration: none;
  }
}

* {
  font-family: sans-serif;
}

.footer-wrapper {
  background-color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  color: black;
  font-size: 60%;
  font-weight: 200;
  margin-left: 30%;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  .footer-wrapper {
    margin: 5%;
  }
  h3 {
    color: black;
    font-size: 50%;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 480px) {
  .footer-wrapper {
    display: block;
    margin-left: 10%;
  }
  h3 {
    color: black;
    font-size: 40%;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
  }
}

* {
  background-color: whitesmoke;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  text-align: center;
}

.dropbtn {
  background-color: black;
  border: none;
  color: white;
  font-size: 75%;
  margin: 5%;
}

.starters {
  color: white;
  padding: 3%;
  text-align: center;
}

.burgers {
  color: white;
  padding: 3%;
  text-align: center;
}

.fountain {
  color: white;
  padding: 3%;
  text-align: center;
}

.brunch {
  color: white;
  padding: 3%;
  text-align: center;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: grey;
}

.dropdown {
  display: inline-block;
}

.dropdown-content {
  color: black;
  display: none;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  display: block;
  z-index: 1;
}

.dropdown a:hover {
  color: black;
  display: block;
  margin-top: 50%;
}

.show {
  color: black;
  display: block;
}

p {
  color: black;
  font-size: 55%;
  font-weight: 200;
  z-index: 1;
}

h4 {
  color: red;
  font-size: 75%;
  font-weight: 200;
}

h5 {
  font-size: 45%;
  font-weight: 200;
}

#starters,
#burgers,
#fountain,
#brunch {
  text-align: left;
}

.dropdown-content ul {
  margin: 0;
}

.on-menu {
  font-size: 45%;
  font-weight: 200;
}

.top-description {
  font-size: 45%;
  font-style: italic;
  font-weight: 200;
  margin-bottom: 5%;
  margin-left: 0;
  padding: 0;
}

@media screen and (min-width: 481px) and (max-width: 850px) {
  img {
    min-width: 150%;
  }
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    text-align: center;
  }
}
/*# sourceMappingURL=menu_page.css.map */