.header-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  margin-right: 5%;
  margin-left: 5%;
  background-color: whitesmoke;
}

.header-wrapper nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/ span 4;
}

.header-wrapper nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.button__header {
  color: black;
  background-color: white;
  border-radius: 25px;
  text-decoration: none;
  border-color: white;
  padding: 8px 25px 8px 25px;
  -webkit-box-shadow: 3px 5px grey;
          box-shadow: 3px 5px grey;
  font-size: 75%;
  display: block;
  margin: 20% 0;
}

.logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  max-width: 80%;
  padding-top: 15%;
  background-color: whitesmoke;
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .header-wrapper {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    margin-right: 5%;
    margin-left: 5%;
    background-color: whitesmoke;
  }
  .header-wrapper nav {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header-wrapper nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    background-color: whitesmoke;
    margin-left: 25%;
    margin-right: 25%;
  }
  .button__header {
    color: black;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    border-color: white;
    padding: 8px 25px 8px 25px;
    -webkit-box-shadow: 3px 5px grey;
            box-shadow: 3px 5px grey;
    font-size: 65%;
    display: block;
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  .header-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: .25fr 1fr;
        grid-template-rows: .25fr 1fr;
    margin-right: 5%;
    margin-left: 5%;
    background-color: whitesmoke;
  }
  .header-wrapper nav {
    margin-right: auto;
    margin-left: auto;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .header-wrapper nav .u-list-reset {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    text-align: center;
  }
  .header-wrapper nav li {
    display: -ms-inline-grid;
    display: inline-grid;
    padding: 2vw;
    margin-right: auto;
    margin-left: auto;
    margin: 2vw;
    margin-top: 0;
    margin-bottom: 0;
  }
  .logo {
    margin-top: 15%;
    margin-bottom: 0;
    padding: 0;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 100%;
    background-color: whitesmoke;
    margin-right: auto;
    margin-left: auto;
  }
  .button__header {
    color: black;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    border-color: white;
    padding: 8px 25px 8px 25px;
    -webkit-box-shadow: 2px 4px grey;
            box-shadow: 2px 4px grey;
    font-size: 55%;
    display: block;
    margin: 0;
  }
}

* {
  font-family: sans-serif;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  margin-right: 5%;
  margin-left: 5%;
  background-color: whitesmoke;
}

h3 {
  font-size: 60%;
  font-weight: 200;
  color: black;
  text-transform: capitalize;
  text-decoration: none;
  text-align: left;
  margin-left: 30%;
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  .footer-wrapper {
    margin: 5%;
  }
  h3 {
    font-size: 40%;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .footer-wrapper {
    display: block;
    margin-left: 10%;
  }
  h3 {
    font-size: 40%;
    font-weight: 400;
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    text-align: left;
    margin-left: 0;
  }
}

* {
  background-color: whitesmoke;
  font-family: sans-serif;
}

/*general*/
h6 {
  font-size: 75%;
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
}

p {
  font-size: 80%;
}

.order-form {
  margin: 5%;
  border: 2px solid grey;
  line-height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  background-color: whitesmoke;
  font-family: sans-serif;
}

label {
  margin: 5%;
  font-size: 60%;
  display: block;
  text-align: left;
}

input {
  margin-top: 1%;
  max-width: 100%;
  padding: 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5%;
  font-size: 60%;
  display: block;
  border: 2px solid grey;
  height: 3vw;
}

#zip {
  max-width: 25%;
}

#card_expiration {
  max-width: 25%;
}

#cvc {
  max-width: 15%;
}

/*.card_details {
    margin-top: 6%;
}*/
textarea {
  margin-top: 1%;
  max-width: 45%;
  height: auto;
  padding: 1%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 5%;
  font-size: 60%;
  display: block;
  border: 2px solid grey;
}

::-webkit-input-placeholder {
  color: grey;
  font-size: 125%;
}

:-ms-input-placeholder {
  color: grey;
  font-size: 125%;
}

::-ms-input-placeholder {
  color: grey;
  font-size: 125%;
}

::placeholder {
  color: grey;
  font-size: 125%;
}

select {
  margin-top: 1%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  max-width: 15%;
  max-height: 5%;
  font-size: 60%;
  cursor: pointer;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  display: block;
  text-align: center;
  height: 3vw;
}

option {
  font-size: 100%;
  text-align: center;
}

h1 {
  margin: 5%;
  font-size: 60%;
  display: block;
  text-align: left;
  font-weight: 400;
  border: 1px solid grey;
}

.column__one {
  margin-left: 15%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.column__two {
  margin-left: 15%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

#delivery {
  display: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#pickup {
  display: none;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.radio_buttons {
  width: 40%;
  display: inline-block;
  padding: 1%;
  margin: 0;
  margin-top: 5%;
  text-align: center;
  overflow: hidden;
}

.radio {
  height: 6vw;
  width: 60%;
  text-align: center;
  border: 2px solid grey;
  margin-top: 5%;
  margin-left: 5.5%;
  font-size: 80%;
  color: grey;
  overflow: hidden;
}

input[type="radio"]:checked + label {
  border: solid 2px red;
  border-radius: 25px;
  text-align: center;
  color: black;
}

.order_button {
  color: black;
  background-color: white;
  border-radius: 25px;
  border-color: white;
  padding: 8px 25px 8px 25px;
  -webkit-box-shadow: 2px 3px grey;
          box-shadow: 2px 3px grey;
  font-size: 60%;
  margin-top: 10%;
  margin-bottom: 15%;
  text-transform: uppercase;
  font-weight: 600;
}

#tip {
  max-width: 25%;
}

a {
  text-decoration: none;
}

#state {
  border: 2px solid grey;
  color: grey;
}

#card_type {
  border: 2px solid grey;
  color: grey;
  font-size: 70%;
}

#save {
  display: -ms-grid;
  display: grid;
  text-align: left;
  width: 3vw;
  height: 3vw;
  padding: 0;
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  img {
    min-width: 150%;
  }
  .order-form {
    text-align: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .column__one {
    display: inline-block;
    margin-left: 4%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 0;
    text-align: center;
  }
  .column__two {
    display: inline-block;
    margin-left: 4%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 0;
    text-align: center;
  }
  label {
    margin-left: 0;
  }
  input {
    margin-left: 0;
    height: 6vw;
    width: 60vw;
  }
  #state {
    height: 6vw;
    width: 10vw;
  }
  textarea {
    max-width: 60vw;
    max-height: 15vw;
  }
  .radio_buttons {
    max-height: 6vw;
    width: 10vw;
    padding: 1%;
    margin: 0;
    text-align: center;
    margin-left: 0;
  }
  .radio {
    text-align: left;
    height: 10vw;
    width: 60vw;
    margin-left: 0;
    border: none;
    margin-top: 5vw;
    margin-bottom: 0;
  }
  #card_type {
    height: 6vw;
    min-width: 25%;
    text-align: left;
    padding-left: 1%;
  }
}

@media screen and (max-width: 480px) {
  .order-form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 50%;
        grid-template-rows: 50% 50%;
  }
  .column__one {
    margin-left: 4%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    margin-top: 0;
  }
  .column__two {
    margin-left: 4%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 0;
  }
  label {
    margin-left: 0;
  }
  input {
    margin-left: 0;
    height: 10vw;
  }
  #state {
    height: 10vw;
    width: 10vw;
  }
  textarea {
    max-width: 100%;
  }
  .radio_buttons {
    padding: 1%;
    margin: 0;
    margin-top: 5%;
    text-align: left;
    margin-left: 0;
  }
  .radio {
    height: 15vw;
    width: 70%;
    margin-left: 0;
    border: 2px solid grey;
    margin-top: 5%;
  }
  #card_type {
    height: 10vw;
    min-width: 25%;
    text-align: left;
    padding-left: 1%;
  }
}
/*# sourceMappingURL=order_form.css.map */