@import "shared/header", "shared/footer";

* {
    background-color: whitesmoke;
    font-family: sans-serif;


}



/*general*/



.order-form {
    margin: 10%;
    border: none;
    line-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 20% 20% 20% 10%;
    background-color: whitesmoke;
    font-family: sans-serif;
}

label {
    margin: 5%;
    font-size: 60%;
    display: block;
    text-align: left;

}

input {
    margin-top: 1%;
    max-width: 25%;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 5%;
    font-size: 60%;
    display: block;
    border: 2px solid grey;

}

textarea {
    margin-top: 1%;
    max-width: 45%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 5%;
    font-size: 60%;
    display: block;
    border: 2px solid grey;

}

::placeholder {
    color: pink;
}

select {
    margin-top: 5%;
    appearance: none;
    padding: 1%;
    max-width: 25%;
    font-size: 60%;
    cursor: pointer;
    margin-right: 5%;
    display: block;
}

h1 {
    margin: 5%;
    font-size: 60%;
    display: block;
    text-align: left;
    font-weight: 400;
    border: 1px solid pink;
}

/*name*/

.nameandchoice {
    grid-column: 1/2;
    grid-row: 1/2;
}




/*address*/

.input-address {
    grid-column: 1/2;
    grid-row: 2/3;
}

/*delivery or pick up*/

.choice {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;


}

#delivery {
    display: none;
    cursor: grabbing;

}

#pickup {
    display: none;
    cursor: grabbing;

}



.radio_buttons {
    max-width: 20%;

    padding: 1%;
    text-align: center;

}

input[type="radio"]:checked+label {
    border: solid 2px red;
    border-radius: 25px;

}



/*card*/

.card {
    grid-column: 2/3;
    grid-row: 1/2;
}

#save {
    margin-right: 21%;

}

.end1 {
    grid-column: 2/3;
    grid-row: 2/3;
}




/*yes/no*/



.contact {

    grid-column: 2/3;
    grid-row: 3/4;
    display: block;

}

#yes {
    display: none;
    cursor: grabbing;
    border: 2px solid red;


}

#no {
    display: none;
    cursor: grabbing;
    border: 2px solid red;


}



.radio_buttons-1 {
    max-width: 7.5%;





}

input[type="radio"]:checked+label {
    border: solid 2px red;
    border-radius: 25px;


}

.order_button {
    grid-column: 2/3;
    grid-row: 4/5;

    color: red;
    background-color: white;
    border-radius: 25px;
    text-decoration: none;
    border-color: white;
    text-align: left;
    padding: 3%;
    text-align: bottom;
    box-shadow: 3px 5px grey;
    margin-top: 5%;




}

#state {
    border: 2px solid grey;

}

#card_type {
    border: 2px solid grey;
}

@media screen and (min-width:481px) and (max-width:800px) {

    img {
        min-width: 150%;
    }

    //come back to this

    .order-form {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 20% 20% 20% 10%;
        background-color: whitesmoke;
        font-family: sans-serif;
    }
}

@media screen and (max-width:480px) {}
