@import "shared/header", "shared/footer";

* {
    background-color: whitesmoke;
    font-family: sans-serif;


}



/*general*/

h6 {
    font-size: 75%;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;

}

p {
    font-size: 80%;


}

.order-form {
    margin: 5%;
    border: 2px solid grey;
    line-height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;


    background-color: whitesmoke;
    font-family: sans-serif;
}

label {
    margin: 5%;
    font-size: 60%;
    display: block;
    text-align: left;

}

input {
    margin-top: 1%;
    max-width: 100%;
    padding: 2%;
    padding-left: 5%;
    box-sizing: border-box;
    margin-right: 5%;
    font-size: 60%;
    display: block;
    border: 2px solid grey;
    height: 3vw;

}

.radio_buttons {
    padding: 0;
    margin: 0;
}

#zip {
    max-width: 25%;
}

#card_expiration {
    max-width: 25%;
}

#cvc {
    max-width: 15%;
}

textarea {
    margin-top: 1%;
    max-width: 45%;
    height: auto;
    padding: 1%;
    box-sizing: border-box;
    margin-right: 5%;
    font-size: 60%;
    display: block;
    border: 2px solid grey;

}

::placeholder {
    color: grey;
    font-size: 125%;

}

select {
    margin-top: 1%;
    appearance: none;

    max-width: 15%;
    max-height: 5%;
    font-size: 60%;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 1%;

    display: block;
    text-align: center;
    height: 3vw;

}

option {
    font-size: 100%;
}

h1 {
    margin: 5%;
    font-size: 60%;
    display: block;
    text-align: left;
    font-weight: 400;
    border: 1px solid grey;
}

.column__one {
    margin-left: 15%;
    grid-column: 1/2;
}

.column__two {
    margin-left: 15%;
    grid-column: 2/3;
}





#delivery {
    display: none;
    cursor: grabbing;

}

#pickup {
    display: none;
    cursor: grabbing;

}



.radio_buttons {
    max-width: 20%;


    text-align: center;


}

input[type="radio"]:checked+label {
    border: solid 2px red;
    border-radius: 25px;

}



/*card

.card {
    grid-column: 2/3;
    grid-row: 1/2;

    margin-left: 15%;
}*/

#save {
    margin-right: 21%;

}

/*.end1 {
    grid-column: 2/3;
    grid-row: 2/3;

    margin-left: 15%;
}




/*yes/no*/



/*.contact {

    grid-column: 2/3;
    grid-row: 1/2;

    display: block;
    margin-left: 15%;

}*/

#yes {
    display: none;
    cursor: grabbing;
    border: 2px solid red;


}

#no {
    display: none;
    cursor: grabbing;
    border: 2px solid red;


}



.radio_buttons-1 {
    max-width: 7.5%;
    height: 3vw;





}

input[type="radio"]:checked+label {
    border: solid 2px red;
    border-radius: 25px;


}

.order_button {



    color: black;
    background-color: white;
    border-radius: 25px;

    border-color: white;

    padding: 8px 25px 8px 25px;
    box-shadow: 2px 3px grey;
    font-size: 60%;

    margin-top: 10%;
    margin-bottom: 15%;
    text-transform: uppercase;
    font-weight: 600;





}



a {
    text-decoration: none;
}

#state {
    border: 2px solid grey;

}

#card_type {
    border: 2px solid grey;
}

@media screen and (min-width:481px) and (max-width:800px) {

    img {
        min-width: 150%;
    }

    //come back to this

    .order-form {

        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 40% 20% 20% 20% 10%;
        background-color: whitesmoke;
        font-family: sans-serif;
    }
}

@media screen and (max-width:480px) {}
