* {
    font-family: sans-serif;

}

.footer-wrapper {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    color: black;
    font-size: 60%;
    font-weight: 200;
    margin-left: 30%;
    text-align: left;
    text-decoration: none;
    text-transform: capitalize;
}

@media screen and (min-width:481px) and (max-width:800px) {

    .footer-wrapper {
        margin: 5%;
    }

    h3 {
        color: black;
        font-size: 40%;
        font-weight: 400;
        margin-left: 0;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
    }
}

@media screen and (max-width:480px) {
    .footer-wrapper {
        display: block;
        margin-left: 10%;
    }

    h3 {
        color: black;
        font-size: 40%;
        font-weight: 400;
        margin-left: 0;
        text-align: left;
        text-decoration: none;
        text-transform: capitalize;
    }
}
