//general layout
.header-wrapper {
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;

    nav {
        grid-column: 2/ span 4;

        ul {
            display: flex;
            justify-content: space-between;
        }
    }
}

//styling buttons
.button__header {
    background-color: white;
    border-color: white;
    border-radius: 25px;
    box-shadow: 3px 5px grey;
    color: black;
    display: block;
    font-size: 75%;
    margin: 20% 0;
    padding: 8px 25px 8px 25px;
    text-decoration: none;
}

//placing logo
.logo {
    background-color: whitesmoke;
    grid-column: 1/2;
    max-width: 80%;
    padding-top: 15%;
}

//animation for 404 page continues through header

.assets {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;

    li {
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                svg {
                    margin-top: random(200)+px;
                    transform: rotate(random(300)+deg) scale(random(2)-.5);
                }
            }
        }
    }
}

.slide-in-top {
    animation-timing-function: ease-in;
    animation: slide-in-top 3s infinite;
    display: grid;
    position: absolute;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-100vh);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100vh);
    }
}

//media querys

@media screen and (min-width:481px) and (max-width:850px) {

    //404 animation goes through header (# of seconds changes from desktop view)
    .assets {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 1%;

        li {
            @for $i from 1 through 20 {
                &:nth-child(#{$i}) {
                    svg {
                        margin-top: random(200)+px;
                        transform: rotate(random(300)+deg) scale(random(2)-.5);
                    }
                }
            }
        }
    }

    .slide-in-top {
        animation-timing-function: linear;
        animation: slide-in-top 4s infinite;
        display: grid;
        position: absolute;
    }

    @keyframes slide-in-top {
        0% {
            transform: translateY(-100vh);
        }

        50% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(75vh);
        }
    }

    //re-size elements
    img {
        min-width: 150%;
    }

    //general layout
    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;

        nav {
            grid-column: 1/3;
            grid-row: 2/3;

            ul {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    //style buttons
    .button__header {
        background-color: white;
        border-color: white;
        border-radius: 25px;
        box-shadow: 3px 5px grey;
        color: black;
        display: block;
        font-size: 65%;
        margin: 0;
        padding: 8px 25px 8px 25px;
        text-decoration: none;
    }

    //resize and move logo
    .logo {
        background-color: whitesmoke;
        grid-row: 1/2;
        margin-left: 25%;
        margin-right: 25%;
        width: 100%;
    }

    //resize assets
    .assets {
        transform: scale(.75);
    }
}

@media screen and (max-width:480px) {
    //general layout

    .header-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1fr;
        margin-left: 5%;
        margin-right: 5%;

        nav {
            grid-column: 1/2;
            grid-row: 2/3;
            margin-left: auto;
            margin-right: auto;

            .u-list-reset {
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
                text-align: center;
            }

            li {
                display: inline-grid;
                margin-bottom: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 0;
                margin: 2vw;
                padding: 2vw;
            }
        }
    }

    //resize and move logo    
    .logo {
        background-color: whitesmoke;
        grid-column: 1/2;
        grid-row: 1/2;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
        padding: 0;
        width: 100%;
    }

    //style (re-size and move) buttons
    .button__header {
        box-shadow: 2px 4px grey;
        display: block;
        font-size: 55%;
        margin: 0;
        padding: 8px 25px 8px 25px;
    }
}
