{% macro item(filename, caption, alt) %}

<li class="slideshow__list-item js-slideshow-slide">
    <figure>
        <img src="/images/{{ filename }}--tiny.jpg" data-src="/images/{{ filename }}--original.jpg" alt="{{ alt }}"
            class="u-fit slideshow__image js-lazy">
        <figcaption class="slideshow__caption"> {{ caption }} </figcaption>
    </figure>
</li>

{% endmacro %}
