---
layout: layouts/default.njk
title: order
stylesheet: order_form
---

{% include "_header.html"%}

<div class="wrapper">
<form class="order-form">
    <fieldset>
        
        <label for="name">
        <input id="name" type="name" placeholder="Name">
        name </label>

        <label for="address">
        <input id="address" type="address" placeholder="Address">
        address </label>

        <label for="card_type">
        <select id="card_type">
            <option>Visa</option>
            <option>Mastercard</option>
            <option>Discover</option>
            <option>American Express</option>
        </select>
        card type</label>

        <label for="card_number">
        <input id="card_number" type="card_number" placeholder="card number"> card number </label>

        <label for="card_expiration">
        <input id="card_expiration" type="card_expiration" placeholder="expiration"> card expiration </label>
        
        <label for="cvc">
        <input id="cvc" type="cvc" placeholder="cvc"> cvc </label>


        <label for="save">
            <input id="save" type="checkbox">  save this card 
        </label>

        <button type="submit" class="order_button">order</button>
    </fieldset>
</form>
</div>

{% include "_footer.html"%}
