* {
    font-family: sans-serif;
    font-weight: 200;
    background-color: orange;
}



.wrapper {
    display: grid;
    grid-template-rows: .5fr 1.5fr 9fr;
    grid-template-columns: 1fr 2fr 2fr;
    background-color: orange;
    margin: 5%;

}


.top {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/2;
    grid-template-rows: .25fr .25fr .25fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.text-1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.text-2 {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    margin-right: 5%;
}

.text-3 {
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
}

.top-subtext {
    grid-column: 2/4;
    grid-row: 2/3;
    text-align: left;
    margin-left: 40%;
}

.side {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/4;

    grid-template-columns: 1fr;
    grid-template-rows: .12fr .12fr .12fr .12fr .12fr;
    background-color: transparent;
    margin-left: 5%;
}

.text-4 {
    grid-column: 1/2;
    grid-row: 5/6;
    transform: rotate(-90deg);
    padding: 5%;
}

.text-5 {
    grid-column: 1/2;
    grid-row: 4/5;
    transform: rotate(-90deg);
    padding: 5%;
}

.text-6 {
    grid-column: 1/2;
    grid-row: 3/4;
    transform: rotate(-90deg);
    padding: 5%;
}

.text-7 {
    grid-column: 1/2;
    grid-row: 2/3;
    transform: rotate(-90deg);
    padding: 5%;
}

.text-8 {
    grid-column: 1/2;
    grid-row: 1/2;
    transform: rotate(-90deg);
    padding: 5%;
}

.image {
    grid-column: 3/4;
    grid-row: 2/3;
    overflow: none;
}


.hero {
    display: grid;
    grid-column: 2/4;
    grid-row: 3/4;
    grid-template-columns: .25fr .25fr;
    grid-template-rows: .1fr .1fr .1fr .1fr;
    font-size: 12.5em;
    text-transform: uppercase;
    padding-left: 5%;
    z-index: 0;
}

.text-9 {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-right: 5%;
}

.text-10 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.text-11 {
    grid-column: 1/2;
    grid-row: 2/3;
    padding-right: 5%;
}

.text-12 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.text-13 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding-right: 5%;
}

.text-14 {
    grid-column: 2/3;
    grid-row: 3/4;
}

.text-15 {
    grid-column: 1/2;
    grid-row: 4/5;
    padding-right: 5%;
}

.text-16 {
    grid-column: 2/3;
    grid-row: 4/5;
}

h3 {
    font-size: 1em;
}

p {
    font-size: .75em;
}

img {
    max-width: 100%;
    max-height: 100%;
}
