<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/base.css">
    <link rel="stylesheet" href="/styles/{{ stylesheet }}.css">
    
    <title> {% if title !== "home" %} {{ title }} | {% endif %} Lost City Diner </title>

</head> 

<body>

{% include "_header.html"%}

{{content | safe}}

{% include "_footer.html"%}

{% if javascript %}
    <script type="text/javascript" src="/scripts/{{ javascript }}.js"></script>
{% endif %}

</body>


</html>
